@function size($n){
    @return #{$n * $unit};
}

.row{
    display: flex;
    align-items: center;
    .col{
        width: 50%;
    }

    .col-30{
        width: 30%;
    }

    .col-70{
        width: 70%;
    }
}

.m-auto{
    margin: 0 auto;
}

